/* All variables  */
:root {
  --color-yellow: #ffd600;
  --color-white: #fff;
  --color-dark-light: #1e1e1e;
  --color-dark: #17181a;
}
/* Add fonts  */
@import url('https://fonts.cdnfonts.com/css/poppins?styles=20390,20392,20395');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&family=Playfair:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('./essets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: bold;
}

/* Default css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #17181a; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
